<%= form_for @issue, :html => {:class => "form-horizontal center"} do |f| %>
  <div class="container">
    <div class="page-header">
      <h3>Report a New Issue</h3>
    </div>

    <div class="form-group">
      <%= f.label :description, :class => 'control-label col-sm-2' %>
      <div class="col-sm-10">
        <%= f.text_field :description, :class => 'form-control', :placeholder => 'Enter description', :type => 'text' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label "Location", :class => 'control-label col-sm-2' %>
      <div class="col-sm-10">
        <%= f.text_field :location_description, :class => 'form-control', :placeholder => 'Describe location', :type => 'text' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label "Coordinates", :class => 'control-label col-sm-2' %>
      <div class="col-sm-5">
        <%= f.text_field :latitude, :class => 'form-control', :placeholder => 'Latitude', :type => 'text' %>
      </div>
      <div class="col-sm-5">
        <%= f.text_field :longitude, :class => 'form-control', :placeholder => 'Longitude', :type => 'text' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label "Add a Photo", :class => 'control-label col-sm-2' %>
      <div class="col-sm-5">
        <div class="img-preview-box"><img id="img-preview" src="" /></div>
        <div class="btn btn-sm btn-default btn-file">
          Choose File...<%= f.file_field :photo, :onchange => 'readURL(this)' %>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <span class="pull-right">
          <%= f.submit 'Submit', :type => 'submit', :class => 'btn btn-lg btn-info' %>
        </span>
      </div>
    </div>
  </div>
<% end %>

<script>
  function readURL(input) {
    if (input.files && input.files[0]) {
      $('#img-preview').show();
      var reader = new FileReader();

      reader.onload = function (e) {
        $('#img-preview')
            .attr('src', e.target.result)
            .width(200)
      };

      reader.readAsDataURL(input.files[0]);
    } else {
      $('#img-preview').hide();
    }
  }
</script>